.tool-tip__container{
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    left: 50rem;
    top: 0;
    visibility: hidden;
}

